<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Consultas</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <div class="container">
        <h1>Gerenciar Consultas</h1>
        <table id="consultasTable" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data e Hora</th>
                    <th>Status</th>
                    <th>Médico</th>
                    <th>Paciente</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="tabela-consultas"></tbody> <!-- Corrigido aqui -->
        </table>
        <a class="back-button" href="/">Voltar para Home</a>
    </div>
    <script src="/js/consultas-gerenciar.js"></script>
</body>
</html>
