<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Listar Pacientes</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Pacientes</h1>
        <table id="pacientesTable" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Nascimento</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody id="tabela-pacientes"></tbody>
        </table>
        <a class="back-button" href="/">Voltar para Home</a>
    </div>
    <script src="/js/listar-pacientes.js"></script>
</body>
</html>
