<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Pacientes</h1>
        <table id="tabelaPacientes">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Nascimento</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div style="text-align: center;">
            <a href="/home.html" class="button-link">⬅ Voltar para Home</a>
        </div>
    </div>
    <script src="/js/listar-pacientes.js"></script>
</body>
</html>
