<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Médico</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <div class="container">
        <h1>Cadastrar Médico</h1>
        <form id="medicoForm">
            <label>Nome: <input type="text" name="nome" required></label><br>
            <label>CRM: <input type="text" name="crm" required></label><br>
            <label>Especialidade: <input type="text" name="especialidade" required></label><br>
            <button type="submit">Salvar</button>
        </form>
        <a class="back-button" href="/">Voltar para Home</a>
    </div>
    <script src="/js/medico-form.js"></script>
</body>
</html>
